<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" id="top-menu">
    <input type="checkbox" id="more" aria-hidden="true" class="toggle" tabindex="-1">
    <div class="navbar-header">
      <a href="#search/index" class="navbar-brand">
        <i class="fa fa-globe fa-lg"></i>
        <%= t('search.head') %>
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#wizard/future1"><%= t('titles.wizard.about') %></a>
        </li>
      </ul>
    </div>
  </div>
</div>