<div class="content">
  <h2><%= t('search.head') %></h2>

  <label>
    <%= t('search.subject') %>
    <%= widget('Toggler', {"select": [
      ["Термин", "#word-params"],
      ["Населенный пункт", "#local-params"],
      ["Удмуртский диалектный вариант", "#udm-params"],
      ["Буквальное значение", "#sense-params"],
    ]}, "objectToggler", "class='form-control'")%>
  </label>
  <h4><%= t("search.criteria") %>:</h4>

  <div class="flex-column" id="word-params" style="display: none">
    <div class="form-group">
      <label for="word-input" class="flex-row">
        Название
      </label>
      <input class="form-control" type="text" id="word-input"/>
    </div>
  </div>

  <div class="flex-column" id="local-params" style="display: none">
    <div class="form-group">
      <label for="local-input" class="flex-row">
        Название
      </label>
      <input class="form-control" type="text" id="local-input"/>
    </div>
  </div>

  <div class="flex-column" id="udm-params" style="display: none">
    <div class="form-group">
      <label for="udm-input" class="flex-row">
        Название
      </label>
      <input class="form-control" type="text" id="udm-input"/>
    </div>
  </div>

  <div class="flex-column" id="sense-params" style="display: none">
    <div class="form-group">
      <label for="sense-input" class="flex-row">
        Название
      </label>
      <input class="form-control" type="text" id="sense-input"/>
    </div>
  </div>

  <button class="btn btn-primary" id="show-results-button">
    <i class="fa fa-search"></i>
    <%= t("search.showResults") %>
  </button>

  <div class="search-results" id="search-results"></div>
</div>

<div id="map" class="maps">
</div>